<mat-card class="mat-card__detail">

    <mat-card-header class="mat-card-header__detail">
        <mat-card-title class="mat-card-header-text__detail">{{picture.title}}</mat-card-title>
    </mat-card-header>

    <img *ngIf="picture.media_type === image; else isVideo" 
         mat-card-image [src]="picture | imagePipe" 
         [alt]="picture.title">

    <ng-template #isVideo>
        <iframe mat-card-image class="mat-card-iframe" [src]="picture.url | secure"></iframe>
    </ng-template>
         
    <mat-card-content class="mat-card-content__detail">
        <mat-tab-group>
            <mat-tab [label]="CONST.DESCRIPTION">
                <p>{{picture.explanation}}</p>
            </mat-tab>
        </mat-tab-group>
        <em>{{CONST.DATE_LABEL}}{{picture.date}}</em>
    </mat-card-content>

</mat-card>