<mat-card class="mat-card__detail">

    <mat-card-header class="mat-card-header__detail">
        <mat-card-title class="mat-card-header-text__detail">{{picture.title}}</mat-card-title>
    </mat-card-header>

    <img mat-card-image [src]="picture | imagePipe" [alt]="picture.title">
    <img *ngIf="picture.media_type === video" class="mat-card-image__detail-play"
        src="../../../assets/img/video-play-icon.png" alt="play-icon">

    <mat-card-content class="mat-card-content__detail">
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="Description: ">
                <p>{{picture.explanation}}</p>
            </mat-tab>
        </mat-tab-group>
        <em>Date: {{picture.date}}</em>
    </mat-card-content>

</mat-card>