<div fxLayout="column" fxFlex="100">
    <mat-card class="mat-card__not-found">

        <mat-card-header class="mat-card-header__not-found">
            <mat-card-title class="mat-card-header-text__not-found">404 Error - Page Not Found</mat-card-title>
        </mat-card-header>

        <img mat-card-image src="../../../../assets/img/404-image.jpg">

        <mat-card-content class="mat-card-content__not-found">
            <button mat-raised-button color="warn" (click)="goToHomePage()">
                <span>Take me back to</span>
                <mat-icon>home</mat-icon>
            </button>
        </mat-card-content>

    </mat-card>
</div>