@media (max-width: 480px) {

    .mat-toolbar {
        padding-right: 5px;
    }

    .toolbar {
        font-size: large;
    }

}

@media (min-width: 480px) {

    .toolbar {
        font-size: x-large;
    }

}

.mat-toolbar {
    align-content: stretch;
    position: sticky;
    top: 0;
    z-index: 2;
}

.mat-toolbar__content {
    display: flex;
}

.main-title {
    margin-left: 10px;
}

.back-title {
    margin-left: 15px;
}

