@media (max-width: 480px) {

    .mat-toolbar__content {
        font-size: large;
        padding-right: 5px;
    }

}

@media (min-width: 480px) {

    .mat-toolbar__content {
        font-size: x-large;
    }

}

.mat-toolbar__content {
    align-content: stretch;
    padding: 25px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

.back-title {
    margin-left: 15px;
}


