<mat-card class="mat-card__list">

    <mat-card-header class="mat-card-header__list">
        <mat-card-title class="mat-card-header-text__list"
                        [matTooltip]="picture.title"
                        matTooltipShowDelay="1000"
                        matTooltipClass="tooltip-card">
            {{picture.title | truncateText:30}}
        </mat-card-title>
    </mat-card-header>

    <img mat-card-image [src]="picture | imagePipe" [alt]="picture.title">
    <img *ngIf="picture.media_type === video"
         class="mat-card-image__list-play" 
         src="assets/img/video-play-icon.png" alt="play-icon">
    
    <mat-card-content class="mat-card-content__list">
        <em>Date: {{picture.date}}</em>
    </mat-card-content>

</mat-card>