.mat-card {
    // width: 200px;
    font-family: inherit;
}

.mat-card__tags {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
    margin: 0;
    min-width: 100px;
    width: 100%;
}

.mat-card__tags-item {
    margin: 0.25rem;
}

img {
    width: 150px;
}