.mat-card__dashboard {
    border-radius: 25px;
}

.mat-card-header__dashboard {
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
}

.mat-card-header-text__dashboard {
    font-size: 15px;
    margin: 0px;
}

.mat-card-content__dashboard {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: smaller;
    margin: 0px;
}

mat-card img {
    object-fit: cover;
    height: 250px;
}

.mat-card-image__dashboard-play {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
}
